.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  place-content: center;
  padding: 15px;
  gap: 10px;
}

.cardImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F0EEED;
  padding: 40px;
  border-radius: 15px;
}

.cardImg img {
  height: 250px;
  width: 100%;
}

.ctitle {
  font-weight: 600;
  font-size: medium;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.cprice {
  font-size: large;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(197px, 1fr));
  }
}


.card:hover {
  box-shadow: 5px 5px rgba(146, 145, 145, 0.5);
  border-radius: 10px;
}

/* product details */
.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* column-gap: 20px; */
}

@media (max-width: 950px) {
  .product-details {
    flex-wrap: wrap;
    justify-content: center;
  }

}

.product-image {
  display: flex;
  align-items: center;
  padding: 30px;
}

.pd-image {
  max-width: 344px;
  height: auto;
  border-radius: 20px;
}

.pd-details {
  max-width: 700px;
  text-align: justify;
  padding: 15px;
}

.pd-details h2 {
  font-family: IntegralCF;
  margin: 0;
}


.price {
  font-size: larger;
  font-weight: 800;
  font-family: Satoshi;
}

.description {
  color: #00000099;
  font-size: medium;
  max-width: 500px;

}

.pd-action-con {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 10px;
  /* justify-content: space-evenly; */
  align-items: center;
}

.pd-action {
  background-color: #F0EEED;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.pd-button {
  background-color: #F0EEED;
  border-radius: 20px;
}

.countSpan {
  background-color: #F0EEED;
  line-height: 40px;
  width: 40px;
  text-align: center;
}

.pd-button-cart {
  background-color: #000000;
  border-radius: 20px;
  color: #F0EEED;
  width: 250px;
  max-width: 300px;
}