.navbar{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.brand{
    display: flex;
    font-family: IntegralCF;
    column-gap: 10px;
    font-weight: 400;
    font-size: 20px;
}

.menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

.dropdown{
    border: none;
    font-size: large;
}

.search {
    width: 400px;
    min-width: auto;
    padding-left: 10px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #F0F0F0 !important;
    background-color: #F0F0F0;
}

.navicons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}
.navicons *:hover{
    background-color: rgb(46, 61, 61);
    border-radius: 5px;

}

.nav-icon{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.search-icon{
    display: none;
}

.shopicon{
    display: block;
}
.hide-shopicon{
    display: none;
}

@media screen and (max-width:1200px) {

.nav-icon{
    display: flex;
}
/* .search {
    width: 200px;
} */
.menu{
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 70px;
    left:-107%;
    background-color: #F0F0F0;
}

.menu.active{
    left:0%
}

}


@media screen and (max-width:600px) {

    .search {
        width: 30px;
        display: none;
    }
    /* .search:hover{
        width: 200px;
    } */

    .search-icon{
        display: block;
        margin-top:5px ;
    }

    .search-activate{
        width: 130px;
        min-width: auto;
        padding-left: 10px;
        height: 30px;
        border-radius: 16px;
        border: 1px solid #F0F0F0 !important;
        background-color: #F0F0F0;
    }
}

